<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%=title%></title>

  <meta name="description" content="Search Engine Project">
  <meta name="keywords" content="NotGoogle, SE-LXY878">
  <meta name="author" content="LXY878">
  <link rel="stylesheet" href="/css/style.css">

</head>