<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title %></title>
</head>
<body>
    <form action="/scrap" method="POST">
        <input type="text" name="searchTerm" id="">
        <button type="submit" >scrap</button>
    </form>
    <a href="/">Home</a>
</body>
</html>